<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1024945066003-23bc2lm09np6k4qod8iqakeb627m4h6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024945066003-23bc2lm09np6k4qod8iqakeb627m4h6c</string>
	<key>API_KEY</key>
	<string>AIzaSyBlqeLWY-nJPi_2sSbuGEqH4BZ4HBxEnR4</string>
	<key>GCM_SENDER_ID</key>
	<string>1024945066003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adisayoga.financialnote</string>
	<key>PROJECT_ID</key>
	<string>financialnote-d6d95</string>
	<key>STORAGE_BUCKET</key>
	<string>financialnote-d6d95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024945066003:ios:b15b50769d781631</string>
	<key>DATABASE_URL</key>
	<string>https://financialnote-d6d95.firebaseio.com</string>
</dict>
</plist>
